.sg-bg{
  background-position: 50%;
background-repeat: no-repeat;
background-size: auto 100%;
transform: scale(1.5);
transform-origin: center top;
position: fixed;
left: 0;
right: 0;
top: 0;
height: 100%;
overflow: hidden;
z-index: -1;
}
.sg-bg::after{
  position: absolute;
    left: 0;
    right: 0;
  content: " ";
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
}
.sg-content-wrap{
  padding-top: 70px;
    height: 702px;
}
.cwhite{
  color:white !important;
  margin-bottom: 0 !important;
}
