@import "../../../common/css/colors.scss";
.ltt-music-list{
  list-style: none;
  padding: 0;
}
.ltt-music-list li{
  height: 55px;
  position: relative;

}
.ltt-music-list li a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.song-title{
  font-size: 17px;
  color: #333;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.song-info{
  color: #888;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sq-icon{
  width: 12px;
  height: 8px;
  display: inline-block;
  background-image:url(./static/icon.png);
  background-position: 0 0;
  background-size: 166px 97px;
  margin-right: 5px;
}
.songitem{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 6px 0px 6px 10px;
  box-sizing: border-box;
  display:flex;
}
.songitem::after{
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 300%;
  height: 300%;
  transform: scale(.3333);
  transform-origin: top left;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
}
.sg-alias{
  color:#888;
  white-space: nowrap;
}
.sgitem-subwrap{
    overflow: hidden;
  display: inline-block;
  width: 1%;
  flex-grow: 1;
}
.sg-play-btn{
  padding-left: 10px;
  display: inline-block;
  width: 22px;
  height: 100%;
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
}
.sg-play-btn::before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.sg-play-btn span{
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  background-image: url(./static/icon.png);
  background-size: 166px 97px;
  background-position: -24px 0px;
}
.sl-num{
  color:#999;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  display: flex;
  align-items: center;
  width: 28px;
}
.hot3{
  color:$theme_color;
}
.sgl-cover-wrap{
  height: 43px;
  width: 43px;
  margin-right: 10px;
}
.theme-black .song-title{
  color:#fff;
}
.theme-black .song-info{
  color:hsla(0,0%,100%,.6);
}
.theme-black .songitem::after{
  border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.theme-playlist .sl-num{
  width:40px;
  justify-content: center;
}
.theme-playlist .songitem{
   padding: 6px 0px 6px 0px;
}
.theme-playlist .hot3{
  color:#999;
}
.item-disable .sl-num,.item-disable .song-title,.item-disable .song-info,.item-disable .sg-alias{
  color:#ccc;
}
.item-disable .sg-play-btn span{
  opacity: .3;
}
.llt-highlight{
  color: #507daf;
}
.item-disable .llt-highlight{
  color: #ccc;
}
