.sgs-tl{
  height: 50px;
  padding-left: 10px;
padding-right: 10px;
font-size: 15px;
line-height: 50px;
color: #507daf;
font-weight: 400;
position: relative;
}
.sgs-tl::after{
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  left: 0;
  top:0;
  transform: scale(.33333);
  transform-origin: left top;
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 1;
  box-sizing: border-box;
}
.sgs-ul li{
  font-size: 15px;
    line-height: 45px;
    color: #333;
    position: relative;
    display: flex;
    align-items: center;
}
.sgs-ul li::after{
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  left: 0;
  top:0;
  transform: scale(.33333);
  transform-origin: left top;
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 1;
  box-sizing: border-box;
}
.sgs-ul{
  list-style: none;
  padding: 0;
}
.sgs-sicon{
  width: 15px;
  height: 15px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PGcgb3BhY2l0eT0iLjMiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzA0MDAwMCIgZD0iTTI4LjE4MSwyNy41MzVsLTEuNDE0LDEuNDE0bC03Ljc1NS03Ljc1NAoJCUMxNi45OTYsMjIuOTM4LDE0LjM3NSwyNCwxMS41LDI0QzUuMTQ5LDI0LDAsMTguODUyLDAsMTIuNUMwLDYuMTQ5LDUuMTQ5LDEsMTEuNSwxQzE3Ljg1MiwxLDIzLDYuMTQ5LDIzLDEyLjUKCQljMCwyLjc1Ni0wLjk3Myw1LjI4NS0yLjU4OSw3LjI2NkwyOC4xODEsMjcuNTM1eiBNMTEuNSwzQzYuMjUzLDMsMiw3LjI1MywyLDEyLjVjMCw1LjI0Niw0LjI1Myw5LjUsOS41LDkuNQoJCWM1LjI0NiwwLDkuNS00LjI1NCw5LjUtOS41QzIxLDcuMjUzLDE2Ljc0NiwzLDExLjUsM3oiLz48L2c+PC9zdmc+);
display: inline-block;
margin-left: 10px;
margin-right: 7px;
}
